<header>
  <nav class="navbar navbar-default">
    <a class="navbar-brand" href="#">Email Archive Viewer</a>
  </nav>
</header>

<div class="container">
  <div class="row">
    <nav class="navbar">
      <label for="search">Search</label>
      <input class="form-control" type="text" name="search" [(ngModel)]="customFilter">      
    </nav>
    <table class="table">
      <thead>
        <tr>
          <th>#</th>
          <th [class.active]="order === 'name'" (click)="setOrder('name')">Person
            <span [hidden]="!reverse">▼</span>
            <span [hidden]="reverse">▲</span>
          </th>
          <th>Email</th>
          <th>Subject</th>
          <th [class.active]="order === 'date'" (click)="setOrder('date')">Date
            <span [hidden]="!reverse">▼</span>
            <span [hidden]="reverse">▲</span>
          </th>
          <th>Body</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let item of sortedCollection | orderBy:  order : reverse  : comparator | filter:customFilter | paginate: { itemsPerPage: 15, currentPage: page }; let i = index">
          <td>{{i}}</td>
          <td>{{item.fullname}}</td>
          <td>{{item.email}}</td>
          <td>{{item.subject}}</td>
          <td>{{item.date}}</td>
          <td>{{item.body}}</td>
        </tr>
      </tbody>
      <pagination-controls (pageChange)="page = $event"></pagination-controls>
    </table>
  </div>
</div>