<header>
  <nav class="navbar navbar-default">
    <a class="navbar-brand" href="#">Email Archive Viewer</a>
  </nav>
</header>

<div class="container">
  <div class="row">
    <nav class="navbar">
      <input class="form-control" type="text" name="search">      
    </nav>
    <pre>emails</pre>
    <table class="table">
      <thead>
        <tr>
          <th>#</th>
          <th>Name</th>
          <th>Subject</th>
          <th>Email</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let email of emails; let i = index">
          <td>{{i}}</td>
          <td>{{email.name}}</td>
          <td>{{email.subject}}</td>
          <td>{{email.email}}</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>