<table class="table">
  <thead>
    <tr>
      <th
        [class.active]=""
        (click)="setOrder('fullname')"
      >
        Person
        <span [hidden]="!reverseNames">▼</span>
        <span [hidden]="reverseNames">▲</span>
      </th>
      <th>Email</th>
      <th>Subject</th>
      <th [class.active]=""
          (click)="setOrder('date')">
        Date
        <span [hidden]="!reverseDates">▼</span>
        <span [hidden]="reverseDates">▲</span>
      </th>
      <th>Body</th>
    </tr>
  </thead>
  <tbody>
    <tr
      *ngFor="
        let email of emails
          | filter: filter
          | paginate
            : { itemsPerPage: totalItemsPerPage, currentPage: page };
        let i = index
      "
    >
      <td>{{ email.fullname }}</td>
      <td>{{ email.email }}</td>
      <td>{{ email.subject }}</td>
      <td>{{ email.date }}</td>
      <td>{{ email.body }}</td>
    </tr>
  </tbody>
  <pagination-controls (pageChange)="page = $event"></pagination-controls>
</table>
