/*
thead > tr > th {
  cursor: pointer;
}
*/

.active-sortable-column {
  color: lightseagreen;
}
.inactive-sortable-column {
  color: lightgray;
}

.my-pagination /deep/ .ngx-pagination {
  display: inline-block;
  margin: auto;
}

.my-pagination /deep/ .ngx-pagination .current {
  background: lightseagreen;
}